.full-nav {
  background-color: #1a1a1a;
  position: fixed;

  @media (max-width: 800px) {
    display: none;
  }
}

.burger-nav {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    align-items: center;
    position: absolute;
  }

  .burger-icon {
    filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(327deg) brightness(101%) contrast(105%);
  }
}
