<section class="py-1 bg-blueGray-50">
  <div class="w-full px-4 mx-auto">
     <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white ">
       <div class="block w-full overflow-x-auto">
         <table class="items-center w-full border-collapse text-blueGray-700">
           <thead class="thead-light">
             <tr>
               <th [attr.colspan]="!showContainer() ? 2 : 1" class="border-t-0 px-6 bg-blueGray-50 align-middle border border-solid border-blueGray-100 py-3 text-md border-l-0 border-r-0 whitespace-nowrap font-semibold text-left border-gray-300">
                Excercise averages across all candidates
               </th>
               @if (showContainer()) {
                <th class="border-t-0 w-[60%] px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px border-gray-300"></th>
               }
             </tr>
           </thead>
           <tbody>
            @for(exercise of exerciseAverages(); track exercise.id) {
              <tr>
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                  {{exercise.name | titlecase}}
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <div class="flex items-center">
                    <span class="mr-2 w-[20px]">{{exercise.value}}%</span>
                    <div class="relative w-full">
                      <div [style.backgroundColor]="exercise.highlightColor" class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                        <div [style.width]="exercise.value + '%'" [style.backgroundColor]="exercise.color" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            }
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </section>
