<section class="py-1 bg-blueGray-50">
  <div class="w-full px-4 mx-auto">
     <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white ">
       <div class="block w-full overflow-x-auto">
         <table class="items-center w-full border-collapse text-blueGray-700">
           <thead class="thead-light">
             <tr>
               <th [attr.colspan]="!showContainer() ? 2 : 1" class="border-t-0 px-6 bg-blueGray-50 align-middle border border-solid border-blueGray-100 py-3 text-md border-l-0 border-r-0 whitespace-nowrap font-semibold text-left border-gray-300">
                Excercise averages across all candidates
               </th>
               @if (showContainer()) {
                <th class="border-t-0 w-[60%] px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px border-gray-300"></th>
               }
             </tr>
           </thead>
           <tbody>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Presentation
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">60%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                       <div style="width: 60%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Group Presentation
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">50%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-purple-200">
                       <div style="width: 50%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Interview of somesort
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">60%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-purple-200">
                       <div style="width: 60%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Written Test
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">60%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-orange-200">
                       <div style="width: 60%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Funky Interview
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">20%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-orange-200">
                       <div style="width: 20%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Strengths-based Interview
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">100%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-orange-200">
                       <div style="width: 100%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 In Tray VS
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">44%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-blue-200">
                       <div style="width: 44%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 Question Ordering test
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">77%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-purple-200">
                       <div style="width: 77%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                 UI Test Exericse 23
               </th>
               <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                 <div class="flex items-center">
                   <span class="mr-2">90%</span>
                   <div class="relative w-full">
                     <div class="overflow-hidden h-2 text-xs flex rounded bg-pink-200">
                       <div style="width: 90%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
                     </div>
                   </div>
                 </div>
               </td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </section>
